@model PokemonPals.Models.ViewModels.CaughtPokemonDexViewModel;

@{
    ViewData["Title"] = "Details";
}

@{
    string capitalName = char.ToUpper(Model.SelectedPokemon.Name[0]) + Model.SelectedPokemon.Name.Substring(1);
    string threeDigitId = "";
    if (Model.SelectedPokemon.PokedexNumber < 10)
    {
        threeDigitId = $"00{Model.SelectedPokemon.PokedexNumber}";
    }
    else if (Model.SelectedPokemon.PokedexNumber < 100)
    {
        threeDigitId = $"0{Model.SelectedPokemon.PokedexNumber}";
    }
    else
    {
        threeDigitId = $"{Model.SelectedPokemon.PokedexNumber}";
    }
    <div class="global-header">
        <h1>@threeDigitId - @capitalName</h1>
        <a asp-controller="CaughtPokemon" asp-action="Create" asp-route-id="@Model.SelectedPokemon.Id"><img class="pokeball-img" src="@Url.Content("~/images/pokeball.png")" /></a>
    </div>
}

<div class="row">
    <div class="col">
        <img class="dex-details-official-img" src=@Model.SelectedPokemon.OfficialArtURL />
    </div>

    <div class="col dex-details-info">
        @*Beginning of Info column (types, height, weight)*@
        <div class="dex-details-large-card col">
            <h4 class="dex-details-red-text">Info</h4>
            <div class="row">
                @*Type column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Type 1
                        </dt>
                        <dd class="col-sm-4">
                            @{string capitalType1 = char.ToUpper(Model.SelectedPokemon.Type1[0]) + Model.SelectedPokemon.Type1.Substring(1); }
                            @capitalType1
                        </dd>
                    </dl>
                    @{
                        if (Model.SelectedPokemon.Type2 != null)
                        {
                            <dl class="row">
                                <dt class="dex-details-red-text col-sm-8">
                                    Type 2
                                </dt>
                                <dd class="col-sm-4">
                                    @{string capitalType2 = char.ToUpper(Model.SelectedPokemon.Type2[0]) + Model.SelectedPokemon.Type2.Substring(1); }
                                    @capitalType2
                                </dd>
                            </dl>
                        }
                    }
                </div>
                @*End of Type column, beginning of Height/Weight column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.Height)
                        </dt>
                        <dd class="col-sm-4">
                            @{
                                double realHeight = Model.SelectedPokemon.Height * 0.1;
                            }
                            @realHeight.ToString("0.##") m
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.Weight)
                        </dt>
                        <dd class="col-sm-4">
                            @{
                                double realWeight = Model.SelectedPokemon.Weight * 0.1;
                            }
                            @realWeight.ToString("0.##") kg
                        </dd>
                    </dl>
                </div>
                @*End of Height/Weight column*@
            </div>
        </div>
        @*End of Info column*@

        @*Stat column*@
        <div class="dex-details-large-card col">
            <h4 class="dex-details-red-text">Stats</h4>
            <div class="row">
                @*First stats column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.HP)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.HP)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.Attack)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.Attack)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.Defense)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.Defense)
                        </dd>
                    </dl>
                </div>
                @*End of first stat column, beginning of second*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Special Attack
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.SpecialAttack)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Special Defense
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.SpecialDefense)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => Model.SelectedPokemon.Speed)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => Model.SelectedPokemon.Speed)
                        </dd>
                    </dl>
                </div>
                @*End of second stat column*@
            </div>
        </div>


        @*End of Stats column*@
    </div>
    @*End of entire Info box*@
</div>
@*End of Image, Height/Weight, and Stats section. Beginning of User Collection*@

@{
    if (Model.UserCollection.Count > 0)
    {
        <hr />
        <div class="dex-details-collection">
            <div class="global-header">
                <h2>@capitalName You've Caught</h2>
            </div>
            @foreach (CaughtPokemon PokemonInCollection in Model.UserCollection)
            {
                <div class="pokemon-card row">
                    <div class="col">
                        <a asp-controller="CaughtPokemon" asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                            <img class="sprite-img" src=@PokemonInCollection.Pokemon.RBSpriteURL />
                        </a>
                    </div>


                    <div class="col-sm-10">
                        @if (PokemonInCollection.Nickname != null)
                        {
                            <h4 class="dex-details-red-text row">
                                <a asp-controller="CaughtPokemon" asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                                    @PokemonInCollection.Nickname
                                </a>

                            </h4>
                        }
                        else
                        {
                            <h4 class="dex-details-red-text row">
                                <a asp-controller="CaughtPokemon" asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                                    @capitalName
                                </a>

                            </h4>
                        }
                        <div class="dex-details-red-text row">
                            Level @PokemonInCollection.Level
                        </div>

                        <div class="dex-details-red-text row">
                            @PokemonInCollection.Gender.Name, @PokemonInCollection.CP CP
                        </div>

                        <div class="row">
                            <div class="col-sm-7">
                                @{
                                    string favoriteOrTradeString = "";

                                    if (PokemonInCollection.isFavorite == true)
                                    {
                                        favoriteOrTradeString += "Favorite";
                                    }
                                    if (PokemonInCollection.isFavorite == true && PokemonInCollection.isTradeOpen == true)
                                    {
                                        favoriteOrTradeString += ", ";
                                    }
                                    if (PokemonInCollection.isTradeOpen == true)
                                    {
                                        favoriteOrTradeString += "Open to Trade";
                                    }
                                    @favoriteOrTradeString
                                }
                            </div>
                            <div class="col-sm-5">
                                Caught on @PokemonInCollection.DateCaught.ToShortDateString()
                            </div>
                        </div>

                        @{
                            if (PokemonInCollection.Comment != null)
                            {

                                <div class="dex-details-white-text row">
                                    @PokemonInCollection.Comment
                                </div>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    }

}

<div class="back-btn-container">
    <a asp-action="Dex">Back to Dex</a>
</div>
