@model PokemonPals.Models.Pokemon

@{
    ViewData["Title"] = "Details";
}

@{
    string capitalName = char.ToUpper(Model.Name[0]) + Model.Name.Substring(1);
    string threeDigitId = "";
    if (Model.PokedexNumber < 10)
    {
        threeDigitId = $"00{Model.PokedexNumber}";
    }
    else if (Model.PokedexNumber < 100)
    {
        threeDigitId = $"0{Model.PokedexNumber}";
    }
    else
    {
        threeDigitId = $"{Model.PokedexNumber}";
    }
    <div class="dex-details-header">
        <h1 class="dex-details-header">@threeDigitId - @capitalName</h1>
    </div>
}

<div class="row">
    <div class="col">
        <img class="dex-details-official-img" src=@Model.OfficialArtURL />
    </div>

    <div class="dex-details-info col">
        @*Beginning of Info column (types, height, weight)*@
        <div class="dex-details-large-card col">
            <h4 class="dex-details-red-text">Info</h4>
            <hr />
            <div class="row">
                @*Type column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Type 1
                        </dt>
                        <dd class="col-sm-4">
                            @{string capitalType1 = char.ToUpper(Model.Type1[0]) + Model.Type1.Substring(1); }
                            @capitalType1
                        </dd>
                    </dl>
                    @{
                        if (Model.Type2 != null)
                        {
                            <dl class="row">
                                <dt class="dex-details-red-text col-sm-8">
                                    Type 2
                                </dt>
                                <dd class="col-sm-4">
                                    @{string capitalType2 = char.ToUpper(Model.Type2[0]) + Model.Type2.Substring(1); }
                                    @capitalType2
                                </dd>
                            </dl>
                        }
                    }
                </div>
                @*End of Type column, beginning of Height/Weight column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.Height)
                        </dt>
                        <dd class="col-sm-4">
                            @{
                                double realHeight = Model.Height * 0.1;
                            }
                            @realHeight.ToString("0.##") m
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.Weight)
                        </dt>
                        <dd class="col-sm-4">
                            @{
                                double realWeight = Model.Weight * 0.1;
                            }
                            @realWeight.ToString("0.##") kg
                        </dd>
                    </dl>
                </div>
                @*End of Height/Weight column*@
            </div>
        </div>
        @*End of Info column*@

        @*Stat column*@
        <div class="dex-details-large-card col">
            <h4 class="dex-details-red-text">Stats</h4>
            <hr />
            <div class="row">
                @*First stats column*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.HP)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.HP)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.Attack)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Attack)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.Defense)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Defense)
                        </dd>
                    </dl>
                </div>
                @*End of first stat column, beginning of second*@
                <div class="dex-details-small-card col">
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Special Attack
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.SpecialAttack)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            Special Defense
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.SpecialDefense)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="dex-details-red-text col-sm-8">
                            @Html.DisplayNameFor(model => model.Speed)
                        </dt>
                        <dd class="col-sm-2">
                            @Html.DisplayFor(model => model.Speed)
                        </dd>
                    </dl>
                </div>
                @*End of second stat column*@
            </div>
        </div>


        @*End of Stats column*@
    </div>
    @*End of entire Info box*@
</div>
<div>
    <a asp-action="Dex">Back to Dex</a>
</div>
