@model PokemonPals.Models.ViewModels.UserProfileViewModel;

@{
    ViewData["Title"] = $"{@Model.ViewedUser.UserName}'s Profile";

}

<div class="profile-row">
    <div class="col profile-info-col">
        <div class="profile-info">
            <div class="global-header profile-text">
                <h4>@Model.ViewedUser.UserName</h4>
            </div>
            <img class="profile-img" src=@Model.ViewedUser.Avatar.ImageURL />
            <dl>
                <dt class="dex-details-red-text">
                    About Me
                </dt>
                <dd>
                    @Model.ViewedUser.Description
                </dd>
                <dt class="dex-details-red-text">
                    Switch Friend Code
                </dt>
                <dd>
                    @Model.ViewedUser.SwitchCode
                </dd>
                <dt class="dex-details-red-text">
                    Discord Username
                </dt>
                <dd>
                    @Model.ViewedUser.DiscordUsername
                </dd>
                <dt class="dex-details-red-text">
                    Favorite Game
                </dt>
                <dd>
                    @Model.ViewedUser.Game.Name
                </dd>
            </dl>

            @{
                string ownProfileString = "This user does not";
                if (Model.isOwnProfile)
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Your Profile</a>
                    ownProfileString = "You do not";
                }
            }
        </div>

        <div class="global-header">
            <h3>Dex Stats</h3>
            @{
                decimal totalCount = 0;
                if (Model.CaughtPokemonIDs != null)
                {
                    totalCount = Model.CaughtPokemonIDs.Count();
                }
                decimal totalPercent = (totalCount / Model.AllPokemonCount) * 100;
                string percentString = totalPercent.ToString("0.##");

                <div class="dex-progress-bar">
                    <div class="dex-progress-completion" style="width:@percentString%"></div>
                    <p class="dex-progress-text">@totalCount of @Model.AllPokemonCount caught // @percentString%</p>
                </div>
            }
        </div>
    </div>

    <div class="col-sm-8 profile-collection-col">


        <div>
            <h3 class="profile-header">
                <a asp-controller="Users" asp-action="Favorites" asp-route-id=@Model.ViewedUser.UserName>
                    Favorites
                </a>
            </h3>
            @{
                if (Model.FavoritePokemon.Count() != 0)
                {
                    <div class="profile-card-container">
                        @foreach (CaughtPokemon SingleFavorite in Model.FavoritePokemon)
                        {
                            string favoriteCaught = "";
                            if (Model.CurrentUserCollection.Contains(SingleFavorite.PokemonId))
                            {
                                favoriteCaught = "dex-caught";
                            }

                            //A card for displaying a single Pokemon
                            <div class="profile-card @favoriteCaught">
                                @*The sprite image of the Pokemon.*@
                                <img class="sprite-img" src=@SingleFavorite.Pokemon.RBSpriteURL />

                                <div class="profile-card-info">
                                    @*Shows the Pokemon's Nickname (or their species name, if this caught Pokemon has no nickname)*@
                                    @if (SingleFavorite.Nickname != null)
                                    {
                                        <h4 class="dex-details-red-text row">
                                            @SingleFavorite.Nickname
                                        </h4>
                                    }
                                    else
                                    {
                                        <h4 class="dex-details-red-text row">
                                            @SingleFavorite.Pokemon.Name
                                        </h4>
                                    }

                                    @*Shows the Pokemon's level and CP properties*@
                                    <div class="dex-details-red-text row">Level @SingleFavorite.Level</div>

                                    <div class="dex-details-red-text row">
                                        @SingleFavorite.Gender.Name
                                        <br />
                                        @SingleFavorite.CP CP
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <br />
                    <div class="profile-center">
                        <p>@ownProfileString have any Favorite Pokemon!</p>
                    </div>
                }
            }
        </div>
        <div>
            <h3 class="profile-header">
                <a asp-controller="Users" asp-action="Trades" asp-route-id=@Model.ViewedUser.UserName>
                    Open for Trade
                </a>
            </h3>
            @{
                if (Model.TradePokemon.Count() != 0)
                {
                    <div class="profile-card-container">
                        @foreach (CaughtPokemon SingleTrade in Model.TradePokemon)
                        {
                            string tradeCaught = "";
                            if (Model.CurrentUserCollection.Contains(SingleTrade.PokemonId))
                            {
                                tradeCaught = "dex-caught";
                            }

                            //A card for displaying a single Pokemon
                        <div class="profile-card @tradeCaught">
                            @*The sprite image of the Pokemon.*@
                            <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@SingleTrade.Id>
                                <img class="sprite-img" src=@SingleTrade.Pokemon.RBSpriteURL />
                            </a>

                            <div class="profile-card-info">
                                @*Shows the Pokemon's Nickname (or their species name, if this caught Pokemon has no nickname)*@
                                @if (SingleTrade.Nickname != null)
                                {
                                    <h4 class="dex-details-red-text row">
                                        <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@SingleTrade.Id>
                                            @SingleTrade.Nickname
                                        </a>
                                    </h4>
                                }
                                else
                                {
                                    <h4 class="dex-details-red-text row">
                                        <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@SingleTrade.Id>
                                            @SingleTrade.Pokemon.Name
                                        </a>
                                    </h4>
                                }

                                @*Shows the Pokemon's level and CP properties*@
                                <div class="dex-details-red-text row">Level @SingleTrade.Level</div>

                                <div class="dex-details-red-text row">
                                    @SingleTrade.Gender.Name, @SingleTrade.CP CP
                                </div>
                            </div>

                            @if (!Model.isOwnProfile)
                            {
                                <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@SingleTrade.Id>
                                    <button class="btn trade-btn">Request Trade</button>
                                </a>
                            }
                        </div>
                        }
                    </div>
                }
                else
                {
                    <br />
                    <div class="profile-center">
                        <p>@ownProfileString have any Pokemon up for trade!</p>
                    </div>
                }
            }
        </div>
    </div>
</div>
