@model PokemonPals.Models.ViewModels.UserProfileViewModel;

@{
    ViewData["Title"] = $"{@Model.ViewedUser.UserName}'s Profile";
}

<div class="row">
    <div class="col-sm-4">
        <div class="profile-info">
            <div class="global-header profile-text">
                <h5>@Model.ViewedUser.UserName</h5>
            </div>
            <img class="profile-img" src=@Model.ViewedUser.Avatar.ImageURL />
            <dl>
                <dt class="dex-details-red-text">
                    About Me
                </dt>
                <dd>
                    @Model.ViewedUser.Description
                </dd>
                <dt class="dex-details-red-text">
                    Switch Friend Code
                </dt>
                <dd>
                    @Model.ViewedUser.SwitchCode
                </dd>
                <dt class="dex-details-red-text">
                    Discord Username
                </dt>
                <dd>
                    @Model.ViewedUser.DiscordUsername
                </dd>
                <dt class="dex-details-red-text">
                    Favorite Game
                </dt>
                <dd>
                    @Model.ViewedUser.Game.Name
                </dd>
            </dl>

            @{
                string ownProfileString = "This user does not";
                if (Model.isOwnProfile)
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit Your Profile</a>
                    ownProfileString = "You do not";
                }
            }
        </div>
    </div>

    <div class="col">
        <h3 class="global-header">Favorites</h3>
        <br />
        @{
            if (Model.FavoritePokemon.Count() != 0)
            {
                <div class="profile-card-container">
                    @foreach (CaughtPokemon SingleFavorite in Model.FavoritePokemon)
                    {
                        //A card for displaying a single Pokemon
                        <div class="profile-card">
                            @*The sprite image of the Pokemon.*@
                            <img class="sprite-img" src=@SingleFavorite.Pokemon.RBSpriteURL />

                            <div class="profile-card-info">
                                @*Shows the Pokemon's Nickname (or their species name, if this caught Pokemon has no nickname)*@
                                @if (SingleFavorite.Nickname != null)
                                {
                                    <h4 class="dex-details-red-text row">
                                        @SingleFavorite.Nickname
                                    </h4>
                                }
                                else
                                {
                                    <h4 class="dex-details-red-text row">
                                        @SingleFavorite.Pokemon.Name
                                    </h4>
                                }

                                @*Shows the Pokemon's level and CP properties*@
                                <div class="dex-details-red-text row">Level @SingleFavorite.Level</div>

                                <div class="dex-details-red-text row">
                                    @SingleFavorite.Gender.Name, @SingleFavorite.CP CP
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <p>@ownProfileString have any Favorite Pokemon!</p>
            }
        }
        <h3 class="global-header">Open for trade</h3>
        @{
            if (Model.TradePokemon.Count() != 0)
            {

            }
            else
            {
                <p>@ownProfileString have any Pokemon up for trade!</p>
            }
        }
    </div>
</div>
