@model IEnumerable<PokemonPals.Models.CaughtPokemon>

@{
    ViewData["Title"] = "Collection";
}

@{
    string filterString = "caught";
    string sortString = "Sorted ascending by Pokedex Number";
    string searchString = ViewBag.SearchString;

    switch (ViewBag.SortOrderString)
    {
        case "species_desc":
            sortString = "Sorted descending by Pokedex Number";
            break;
        case "favorite_true":
            filterString = "favorite Pokemon";
            break;
        case "favorite_false":
            filterString = "Pokemon that aren't a favorite";
            break;
        case "trade_true":
            filterString = "Pokemon that you'd be okay with trading";
            break;
        case "trade_false":
            filterString = "Pokemon that you don't want to trade";
            break;
        case "level_desc":
            sortString = "Sorted descending by level";
            break;
        case "level_asc":
            sortString = "Sorted ascending by level";
            break;
        case "CP_desc":
            sortString = "Sorted descending by CP";
            break;
        case "CP_asc":
            sortString = "Sorted ascending by CP";
            break;
        case "nickname_true":
            filterString = "Pokemon with a nickname";
            break;
        case "nickname_false":
            filterString = "Pokemon without a nickname";
            break;
        case "comment_true":
            filterString = "Pokemon with comments attached";
            break;
        case "comment_false":
            filterString = "Pokemon without comments attached";
            break;
        default:
            filterString = "caught";
            sortString = "Sorted ascending by Pokedex Number";
            break;
    };
}


<div class="collection-header">
    <h1>Collection</h1>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-sm-4">
        @*A search bar, letting the user search their collection*@
        <div class="collection-sort">
            @using (Html.BeginForm())
            {
                <p>
                    Search by species, nickname, type, or comment: <br />
                    @Html.TextBox("searchString") <input type="submit" value="Search" />
                </p>
            }
        </div>
    </div>
    <div class="col-sm-5">
        @*Containers for multiple links that will allow the user to sort/filter their Pokemon collection on different properties, like Nickname, Favorite, Level, etc.*@
        <div class="collection-sort">
            Filter by:
            @Html.ActionLink("Favorite", "Collection", new { sortOrder = ViewBag.FavoriteSortParm }) |
            @Html.ActionLink("Open to Trade", "Collection", new { sortOrder = ViewBag.TradeSortParm }) |
            @Html.ActionLink("Nickname", "Collection", new { sortOrder = ViewBag.NicknameSortParm }) |
            @Html.ActionLink("Comment", "Collection", new { sortOrder = ViewBag.CommentSortParm })
        </div>

        <div class="collection-sort">
            Sort by:
            @Html.ActionLink("Number", "Collection", new { sortOrder = ViewBag.NumberSortParm }) |
            @Html.ActionLink("Level", "Collection", new { sortOrder = ViewBag.LevelSortParm }) |
            @Html.ActionLink("CP", "Collection", new { sortOrder = ViewBag.CPSortParm })
        </div>
    </div>
    <div class="col"></div>
</div>

<hr />

<div class="global-header collection-sort">
    <h4>@Model.Count() total @filterString</h4>
    <p>@sortString</p>
    @{
        if (searchString != null)
        {
            <p>Searching by term "@searchString"</p>;
        }
    }
</div>


<div class="collection-container">

    @{
        //if the list passed to this view is empty, we're going to prompt the user to add a Pokemon to their collection
        if (Model.Count() == 0)
        {
            <h4>You don't have any Pokemon! Go <a asp-controller="Pokemon" asp-action="Dex">add some!</a></h4>
        }
        //Loops through the CaughtPokemon passed to the View
        foreach (CaughtPokemon PokemonInCollection in Model)
        {

            //A card for displaying a single Pokemon
            <div class="collection-card">
                @*The sprite image of the Pokemon. When clicked, it takes the user to an Edit page for this Pokemon*@
                <a asp-controller="CaughtPokemon" asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                    <img class="sprite-img" src=@PokemonInCollection.Pokemon.RBSpriteURL />
                </a>

                <div class="collection-card-info">
                    @*Shows the Pokemon's Nickname (or their species name, if this caught Pokemon has no nickname)*@
                    @if (PokemonInCollection.Nickname != null)
                    {
                        <h4 class="dex-details-red-text row">
                            <a asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                                @PokemonInCollection.Nickname
                            </a>
                        </h4>
                    }
                    else
                    {
                        <h4 class="dex-details-red-text row">
                            <a asp-action="Edit" asp-route-id="@PokemonInCollection.Id">
                                @PokemonInCollection.Pokemon.Name
                            </a>
                        </h4>
                    }

                    @*Shows the Pokemon's level and CP properties*@
                    <div class="dex-details-red-text row">Level @PokemonInCollection.Level</div>

                    <div class="dex-details-red-text row">
                        @PokemonInCollection.Gender.Name, @PokemonInCollection.CP CP
                    </div>

                    @*Displays if the Pokemon is the one of the user's Favorites, or eligible for a Trade*@
                    <div class="row">
                        @{
                            string favoriteOrTradeString = "";

                            if (PokemonInCollection.isFavorite == true)
                            {
                                favoriteOrTradeString += "Favorite";
                            }
                            if (PokemonInCollection.isFavorite == true && PokemonInCollection.isTradeOpen == true)
                            {
                                favoriteOrTradeString += ", ";
                            }
                            if (PokemonInCollection.isTradeOpen == true)
                            {
                                favoriteOrTradeString += "Open to Trade";
                            }
                            @favoriteOrTradeString
                        }
                    </div>

                    @*Displays the date the Pokemon was caught*@
                    <div class="row">
                        Caught on @PokemonInCollection.DateCaught.ToShortDateString()
                    </div>

                    @*Displays a short user-attached comment, if one exists*@
                    @{
                        if (PokemonInCollection.Comment != null)
                        {

                            <div class="dex-details-white-text row">
                                @PokemonInCollection.Comment
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</div>