@model PokemonPals.Models.CaughtPokemon

@{
    ViewData["Title"] = "Delete";
}

@{
    <div class="global-header">
        <h1>Remove from your Collection?</h1>
    </div>

    <div class="delete-container">

        @*Displays an info card showing the Pokemon's sprite, Nickname/species name, all its info*@
        <div class="pokemon-card row">
            <div class="col">
                <img class="sprite-img" src=@Model.Pokemon.RBSpriteURL />
            </div>


            <div class="col-sm-10">
                @if (Model.Nickname != null)
                {
                    <h4 class="dex-details-red-text row">
                        @Model.Nickname
                    </h4>
                }
                else
                {
                    <h4 class="dex-details-red-text row">
                        @Model.Pokemon.Name
                    </h4>
                }
                <div class="dex-details-red-text row">
                    Level @Model.Level
                </div>

                <div class="dex-details-red-text row">
                    @Model.Gender.Name, @Model.CP CP
                </div>

                @*If the user has favorited this Pokemon or marked it eligile for trade, creates a string of those properties to display*@
                <div class="row">
                    <div class="col-sm-7">
                        @{
                            string favoriteOrTradeString = "";

                            if (Model.isFavorite == true)
                            {
                                favoriteOrTradeString += "Favorite";
                            }
                            if (Model.isFavorite == true && Model.isTradeOpen == true)
                            {
                                favoriteOrTradeString += ", ";
                            }
                            if (Model.isTradeOpen == true)
                            {
                                favoriteOrTradeString += "Open to Trade";
                            }
                            @favoriteOrTradeString
                        }
                    </div>
                    <div class="col-sm-5">
                        Caught on @Model.DateCaught.ToShortDateString()
                    </div>
                </div>

                @{
                    if (Model.Comment != null)
                    {

                        <div class="dex-details-white-text row">
                            @Model.Comment
                        </div>
                    }
                }

            </div>
        </div>

        @*Displays a warning if the user is trying to delete a Pokemon they have marked as a favorite*@
        @if(Model.isFavorite == true)
        {
            <div class="global-header">
                <h2>WARNING!</h2>
                <br />
                <h3>This critter is marked as a Favorite! Are you sure you want to delete it?</h3>
            </div>
        }

        <br />

        @*The button for deleting the Pokemon, once and for all*@
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn global-btn" />
        </form>
    </div>
}

@*Lets the user go back to the Dex view*@
<div class="back-btn-container">
    <a asp-controller="Pokemon" asp-action="Dex">Back to Collection</a>
</div>