@model PokemonPals.Models.ViewModels.TradeIndexViewModel;

@{
    ViewData["Title"] = $"Trade Requests";
    string searchString = ViewBag.SearchString;
}

<div class="global-header">
    <h1>Trade Requests</h1>
</div>
<div class="row collection-sort profile-center">
    @using (Html.BeginForm())
    {
        <p>
            Search by nickname or species name: <br />
            @Html.TextBox("searchString") <input type="submit" value="Search" />
        </p>
    }
</div>
<hr />

@{
    if (searchString == null || searchString == "")
    {
        <div class="profile-center">
            <h4 class="dex-details-red-text">Recently Caught Pokemon Open for Trade</h4>
            <p>Please enter a search query to lookup specific Pokemon to trade!</p>
        </div>
    }
    else
    {
        <div class="profile-center">
            <h4 class="dex-details-red-text">Results for "@searchString"</h4>
        </div>
    }
    if (Model.SearchResults.Count() == 0)
    {
        <div class="profile-center">
            <p>Sorry, no Pokemon could be found. Please try again!</p>
        </div>
    }
    else
    {
        <div class="collection-container">
            @foreach (CaughtPokemon PokemonInSearch in Model.SearchResults)
            {
                string tradeCaught = "";
                @if (Model.CurrentUserCollection.Contains(PokemonInSearch.PokemonId))
                {
                    tradeCaught = "dex-caught";
                }
                <div class="profile-card-expand @tradeCaught">
                    @*The sprite image of the Pokemon. When clicked, it takes the user to an Edit page for this Pokemon*@
                    <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@PokemonInSearch.Id>
                        <img class="sprite-img" src=@PokemonInSearch.Pokemon.RBSpriteURL />
                    </a>

                    <div class="profile-card-info">
                        @*Shows the Pokemon's Nickname (or their species name, if this caught Pokemon has no nickname)*@
                        @if (PokemonInSearch.Nickname != null)
                        {
                            <h4 class="dex-details-red-text row">
                                <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@PokemonInSearch.Id>
                                    @PokemonInSearch.Nickname
                                </a>
                            </h4>
                        }
                        else
                        {
                            <h4 class="dex-details-red-text row">
                                <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@PokemonInSearch.Id>
                                    @PokemonInSearch.Pokemon.Name
                                </a>
                            </h4>

                        }

                        @*Shows the Pokemon's level and CP properties*@
                        <div class="dex-details-red-text row">Level @PokemonInSearch.Level</div>

                        <div class="dex-details-red-text row">
                            @PokemonInSearch.Gender.Name, @PokemonInSearch.CP CP
                        </div>
                        <div class="row">
                            <a class="dex-details-black-text" asp-controller="Users" asp-action="Profile" asp-route-id=@PokemonInSearch.User.UserName>Owned by @PokemonInSearch.User.UserName</a>
                        </div>
                    </div>

                    <a asp-controller="Trades" asp-action="StartRequest" asp-route-id=@PokemonInSearch.Id>
                        <button class="btn trade-btn">Request Trade</button>
                    </a>
                </div>
            }
        </div>
    }
}

